body{
    background-color: rgb(244, 165, 68);
}
nav{
    text-align: center;
}
#home-decp{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}
footer{
    text-align: center;
}
.btns{
    color: darkred;
}